@import url(fonts.css);
* {
  box-sizing: border-box;
  font-family: "Hauora-400";
  margin: 0;
  padding: 0;
  color: #000000;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper main {
  background: url(../images/main_car.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 95vh;
}
.wrapper main .top__header {
  background: linear-gradient(to right, #000, #190d58, #000);
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.wrapper main .top__header .discount p {
  font-family: Hauora-300;
  font-size: 14xpx;
  color: #FFFFFF;
}
.wrapper main .top__header a.btn {
  text-transform: uppercase;
  color: #bbb8b8;
  font-size: 18px;
}
.wrapper main .header {
  background-color: #FFFFFF;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.wrapper main .header .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: flex;
  gap: 10vw;
}
.wrapper main .header .container .header__logo img {
  display: flex;
  justify-content: start;
}
.wrapper main .header .container .header__nav {
  display: flex;
  justify-content: center;
}
.wrapper main .header .container .header__nav ul {
  display: flex;
  gap: 60px;
}
.wrapper main .header .container .header__nav ul li {
  font-size: 18px;
  font-family: Hauora-500;
}
.wrapper main .header .container .header__btns {
  display: flex;
  align-items: center;
}
.wrapper main .header .container .header__btns .btn {
  background-color: #2A1A80;
  padding: 18px 32px;
  border-radius: 6px 6px 18px 6px;
  min-width: 200px;
  font-size: 16px;
  color: #FFFFFF;
}
.wrapper main .hero {
  display: flex;
  padding: 50px 20px;
}
.wrapper main .hero .container {
  max-width: 1760px;
  margin: 0 auto;
}
.wrapper main .hero .container .hero__text h1 {
  font-size: 135px;
  color: #FFFFFF;
  max-width: 60%;
  line-height: 100%;
}
.wrapper main .hero .container .hero__bottom {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  width: 100%;
}
.wrapper main .hero .container .hero__bottom .buttons {
  margin-top: 33vh;
  display: flex;
  gap: 40px;
}
.wrapper main .hero .container .hero__bottom .buttons a.order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  height: 18px;
  font-size: 16px;
  padding: 32px 18px;
  border-radius: 6px 6px 18px 6px;
  background: #FFFFFF;
  color: #000000;
}
.wrapper main .hero .container .hero__bottom .buttons a.consultation {
  background-color: rgba(28, 28, 28, 0);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  height: 24px;
  font-size: 16px;
  padding: 32px 24px;
  border-radius: 6px 6px 18px 6px;
  border: #FFFFFF 1px solid;
}
.wrapper main .hero .container .hero__bottom .text {
  margin-left: 30vw;
}
.wrapper main .hero .container .hero__bottom .text p {
  font-size: 28px;
  color: #FFFFFF;
}
.wrapper main .section__about-us {
  display: flex;
  margin-top: 20vh;
  padding: 0 20px;
}
.wrapper main .section__about-us .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.wrapper main .section__about-us .container .left__menu {
  display: flex;
  flex-direction: column;
  gap: 50%;
}
.wrapper main .section__about-us .container .left__menu .information {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.wrapper main .section__about-us .container .left__menu .information .about__logo {
  font-size: 84px;
  line-height: 100%;
  width: 150%;
}
.wrapper main .section__about-us .container .left__menu .information .text__about {
  font-family: Hauora-400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}
.wrapper main .section__about-us .container .left__menu .information .text__about span {
  font-family: Hauora-600;
}
.wrapper main .section__about-us .container .left__menu .mini__logo {
  width: 189px;
  height: 105px;
}
.wrapper main .section__about-us .container .right__menu {
  margin-top: 16%;
  display: grid;
  grid-template-areas: "a a";
  gap: 100px;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content img {
  width: 96px;
  height: 96px;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content h3 {
  font-size: 28px;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content p {
  font-size: 20px;
}
.wrapper main .section__about-us .container .right__menu-content img {
  width: 96px;
  height: 96px;
}
.wrapper main .section__about-us .container .right__menu-content h3 {
  font-size: 28px;
}
.wrapper main .section__about-us .container .right__menu-content p {
  font-size: 20px;
}

.advantages {
  margin-top: 30vh;
  background: rgb(17, 14, 44);
  display: flex;
  flex-direction: row;
}
.advantages .container-left {
  max-width: 1000px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
}
.advantages .container-left .advantages-left__side {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40vh;
  padding-bottom: 50px;
}
.advantages .container-left .advantages-left__side .adv__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 5vh;
}
.advantages .container-left .advantages-left__side .adv__header h3 {
  color: #fFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
}
.advantages .container-left .advantages-left__side .adv__header h1 {
  font-size: 80px;
  color: #FFFFFF;
  width: 90%;
  line-height: 100%;
}
.advantages .container-left .advantages-left__side .text__btn {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.advantages .container-left .advantages-left__side .text__btn p {
  color: #fFFFFF;
  font-size: 24px;
  max-width: 60%;
}
.advantages .container-left .advantages-left__side .text__btn a {
  background-color: rgba(28, 28, 28, 0);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  height: 24px;
  font-size: 16px;
  padding: 32px 24px;
  border-radius: 6px 6px 18px 6px;
  border: #FFFFFF 1px solid;
}
.advantages .advantages__right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.advantages .advantages__right-side .player {
  height: 50%;
}
.advantages .advantages__right-side .player img {
  width: 100%;
  height: 100%;
}
.advantages .advantages__right-side .bottom-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30%;
  padding: 50px 50px;
  background: #FFFFFF;
}
.advantages .advantages__right-side .bottom-side h1 {
  color: #2A1A80;
  font-size: 44px;
}
.advantages .advantages__right-side .bottom-side ul {
  margin-left: 30px;
  list-style-type: circle;
  display: grid;
  grid-template-areas: " a a " " b b";
  grid-column-end: auto;
  gap: 40px;
}
.advantages .advantages__right-side .bottom-side ul li {
  font-size: 20px;
  list-style-type: disc;
  color: #000000;
  font-weight: 300;
}

.guarantee {
  margin-top: 10vh;
}
.guarantee .container {
  max-width: 1760px;
  margin: 0 auto;
}
.guarantee .container .guarantee_main {
  display: flex;
  justify-content: space-between;
}
.guarantee .container .guarantee_main h1 {
  line-height: 100%;
  font-size: 86px;
  max-width: 60%;
}
.guarantee .container .guarantee_main img {
  width: 71px;
  height: 40px;
}
.guarantee .container .guarantee__bottom {
  margin-top: 15vh;
}
.guarantee .container .guarantee__bottom .grid__mesh-top {
  display: grid;
  grid-template-areas: " a b b ";
  grid-column-end: auto;
  align-items: center;
}
.guarantee .container .guarantee__bottom .grid__mesh-top .recomended-top p {
  color: #bbb8b8;
  font-size: 20px;
  max-width: 40%;
  text-transform: uppercase;
}
.guarantee .container .guarantee__bottom .grid__mesh-top .grid__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.guarantee .container .guarantee__bottom .grid__mesh-top .grid__item .before {
  position: relative;
}
.guarantee .container .guarantee__bottom .grid__mesh-top .grid__item .before::before {
  content: "";
  background: #000000;
  width: 325px;
  height: 2px;
  position: absolute;
}
.guarantee .container .guarantee__bottom .grid__mesh-top .grid__item p {
  max-width: 80%;
  font-size: 18px;
  font-weight: 300;
}
.guarantee .container .guarantee__bottom .grid__mesh-bottom {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 50%;
}
.guarantee .container .guarantee__bottom .grid__mesh-bottom .recomended p {
  color: #bbb8b8;
  line-height: 62.4px;
  font-size: 44px;
}/*# sourceMappingURL=main.css.map */