@import url(adaptive.css);
@import url(fonts.css);
.footer .right__side .form__side-footer .field textarea, .contacts .container .form__side .field textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding-left: 0;
  border-bottom-color: rgb(102, 102, 102);
  background: transparent;
  outline: none;
  color: #000;
  font-size: 20px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: "Hauora-400";
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper main {
  background: url(../images/main_car.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 1000px;
}
.wrapper main .top__header {
  background: linear-gradient(to right, #000, #190d58, #000);
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.wrapper main .top__header .discount p {
  font-family: Hauora-300;
  font-size: 1rem;
  color: #FFFFFF;
}
.wrapper main .top__header a.btn {
  text-transform: uppercase;
  color: #bbb8b8;
  font-size: 1, 125rem;
  letter-spacing: 0.8px;
}
.wrapper main .top__header a.btn:hover {
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.wrapper main .header {
  background-color: #FFFFFF;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}
.wrapper main .header .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10vw;
}
.wrapper main .header .container .header__logo img {
  display: flex;
  justify-content: start;
}
.wrapper main .header .container .header__nav {
  display: flex;
  justify-content: center;
}
.wrapper main .header .container .header__nav ul {
  display: flex;
  gap: 60px;
}
.wrapper main .header .container .header__nav ul li {
  font-size: 1, 5rem;
  font-family: Hauora-500;
  margin: 0;
  padding: 0;
}
.wrapper main .header .container .header__nav ul li a::after {
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2A1A80;
  content: "";
  transition: width 0.3s ease-out;
}
.wrapper main .header .container .header__nav ul li a:hover {
  color: #2A1A80;
  transition: 0.3s ease;
}
.wrapper main .header .container .header__nav ul li a:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s linear;
}
.wrapper main .header .container .header__btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.wrapper main .header .container .header__btns .btn {
  background-color: #2A1A80;
  padding: 18px 32px;
  border-radius: 6px 6px 18px 6px;
  text-align: center;
  min-width: 200px;
  font-size: 16px;
  color: #FFFFFF;
}
.wrapper main .header .container .header__btns .btn:hover {
  background: #000000;
  transition: all 0.5s ease;
}
.wrapper main .hero {
  display: flex;
  padding: 50px 20px;
}
.wrapper main .hero .container {
  max-width: 1760px;
  margin: 0 auto;
}
.wrapper main .hero .container .hero__text h1 {
  font-size: 8rem;
  color: #FFFFFF;
  max-width: 60%;
  line-height: 100%;
}
.wrapper main .hero .container .hero__bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  width: 100%;
}
.wrapper main .hero .container .hero__bottom .buttons {
  margin-top: 400px;
  display: flex;
  gap: 40px;
}
.wrapper main .hero .container .hero__bottom .buttons a.order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  height: 18px;
  font-size: 1rem;
  padding: 32px 18px;
  border-radius: 6px 6px 18px 6px;
  background: #FFFFFF;
  color: #000000;
}
.wrapper main .hero .container .hero__bottom .buttons a.order:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}
.wrapper main .hero .container .hero__bottom .buttons a.consultation {
  background-color: rgba(28, 28, 28, 0);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  height: 24px;
  font-size: 1rem;
  padding: 32px 24px;
  border-radius: 6px 6px 18px 6px;
  border: #FFFFFF 1px solid;
}
.wrapper main .hero .container .hero__bottom .buttons a.consultation:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}
.wrapper main .hero .container .hero__bottom .text {
  margin-left: 30vw;
}
.wrapper main .hero .container .hero__bottom .text p {
  font-size: 28px;
  color: #FFFFFF;
}
.wrapper main .section__about-us {
  display: flex;
  margin-top: 25vh;
  padding: 0 20px;
}
.wrapper main .section__about-us .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.wrapper main .section__about-us .container .left__menu {
  display: flex;
  flex-direction: column;
  gap: 50%;
}
.wrapper main .section__about-us .container .left__menu .information {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.wrapper main .section__about-us .container .left__menu .information .about__logo {
  font-size: 5rem;
  line-height: 100%;
  width: 150%;
}
.wrapper main .section__about-us .container .left__menu .information .text__about {
  margin-top: 10%;
  font-family: Hauora-400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}
.wrapper main .section__about-us .container .left__menu .information .text__about span {
  font-family: Hauora-600;
  font-size: 1.25rem;
}
.wrapper main .section__about-us .container .left__menu .information .text__about p {
  font-size: 1.25rem;
}
.wrapper main .section__about-us .container .left__menu .mini__logo {
  width: 189px;
  height: 105px;
}
.wrapper main .section__about-us .container .right__menu {
  margin-top: 16%;
  display: grid;
  grid-template-areas: "a a";
  gap: 100px;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content img {
  width: 96px;
  height: 96px;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content h3 {
  font-size: 28px;
  font-weight: 400;
}
.wrapper main .section__about-us .container .right__menu .right__menu-content p {
  font-size: 20px;
}
.wrapper main .section__about-us .container .right__menu-content img {
  width: 96px;
  height: 96px;
}
.wrapper main .section__about-us .container .right__menu-content h3 {
  font-size: 28px;
}
.wrapper main .section__about-us .container .right__menu-content p {
  font-size: 20px;
}

.advantages {
  margin-top: 30vh;
  background: rgb(17, 14, 44);
  display: flex;
  flex-direction: row;
}
.advantages .container-left {
  max-width: 1000px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
}
.advantages .container-left .advantages-left__side {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40vh;
  padding-bottom: 50px;
}
.advantages .container-left .advantages-left__side .adv__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 5vh;
}
.advantages .container-left .advantages-left__side .adv__header h3 {
  color: #fFFFFF;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
}
.advantages .container-left .advantages-left__side .adv__header h1 {
  font-size: 5rem;
  color: #FFFFFF;
  width: 90%;
  line-height: 100%;
}
.advantages .container-left .advantages-left__side .text__btn {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.advantages .container-left .advantages-left__side .text__btn p {
  font-family: Hauora-300;
  color: #fFFFFF;
  font-size: 1.375rem;
  max-width: 55%;
  font-weight: 300;
}
.advantages .container-left .advantages-left__side .text__btn a {
  background-color: rgba(28, 28, 28, 0);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  height: 24px;
  font-size: 1rem;
  padding: 24px 20px;
  border-radius: 6px 6px 18px 6px;
  border: #FFFFFF 1px solid;
}
.advantages .container-left .advantages-left__side .text__btn a:hover {
  color: #000;
  background-color: #FFFFFF;
  border: #000000 1px solid;
  transition: all 0.5s ease;
}
.advantages .advantages__right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.advantages .advantages__right-side .player {
  height: 50%;
}
.advantages .advantages__right-side .player img {
  width: 100%;
  height: 100%;
}
.advantages .advantages__right-side .bottom-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30%;
  padding: 50px 50px;
  background: #FFFFFF;
}
.advantages .advantages__right-side .bottom-side h1 {
  color: #2A1A80;
  font-size: 2.75rem;
  font-family: Hauora-400;
}
.advantages .advantages__right-side .bottom-side ul {
  margin-left: 30px;
  list-style-type: circle;
  display: grid;
  grid-template-areas: " a a " " b b";
  grid-column-end: auto;
  gap: 40px;
}
.advantages .advantages__right-side .bottom-side ul li {
  font-size: 1.25rem;
  list-style-type: disc;
  color: #000000;
  font-weight: 300;
}

.guarantee {
  padding: 0 20px;
  margin-top: 10vh;
}
.guarantee .container {
  max-width: 1760px;
  margin: 0 auto;
}
.guarantee .container .guarantee_main {
  display: flex;
  justify-content: space-between;
}
.guarantee .container .guarantee_main h1 {
  line-height: 100%;
  font-size: 5.375rem;
  max-width: 60%;
}
.guarantee .container .guarantee_main img {
  width: 71px;
  height: 40px;
}
.guarantee .container .guarantee__bottom {
  margin-top: 15vh;
}
.guarantee .container .guarantee__bottom .guarantee__grid {
  grid-gap: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.guarantee .container .guarantee__bottom .guarantee__grid .recomended-grid-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.guarantee .container .guarantee__bottom .guarantee__grid .recomended-grid-1 h3 {
  margin-top: 10px;
  color: #bbb8b8;
  font-size: 1.125rem;
  max-width: 40%;
  text-transform: uppercase;
  font-weight: 400;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-2 .before {
  position: relative;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-2 .before::before {
  content: "";
  height: 2px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-2 h2 {
  font-weight: 500;
  font-size: 1.875rem;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-2 p {
  font-size: 1.25rem;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-3 {
  grid-column: 3/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-3 .before {
  position: relative;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-3 .before::before {
  content: "";
  height: 2px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-3 h2 {
  font-weight: 500;
  font-size: 1.875rem;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-3 p {
  font-size: 1.25rem;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-4 {
  grid-column: 1/2;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-4 .before {
  position: relative;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-4 .before::before {
  content: "";
  height: 2px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-4 h2 {
  font-weight: 500;
  font-size: 1.875rem;
}
.guarantee .container .guarantee__bottom .guarantee__grid .guarantee__item-grid-4 p {
  font-size: 1.25rem;
}
.guarantee .container .guarantee__bottom .guarantee__grid .recomended__guarantee-grid-5 {
  grid-column: 2/4;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.guarantee .container .guarantee__bottom .guarantee__grid .recomended__guarantee-grid-5 .before {
  position: relative;
}
.guarantee .container .guarantee__bottom .guarantee__grid .recomended__guarantee-grid-5 .before::before {
  content: "";
  height: 2px;
  background: #99A8BF;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.guarantee .container .guarantee__bottom .guarantee__grid .recomended__guarantee-grid-5 h1 {
  font-weight: 600;
  font-size: 3rem;
  color: #99A8BF;
  min-width: 100%;
}

.slider-block {
  padding: 0 20px;
}
.slider-block .container {
  max-width: 1760px;
  margin: 0 auto;
}
.slider-block .container .slider {
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slider-block .container .slider .slider__items {
  display: flex;
  flex-direction: row;
}
.slider-block .container .slider .slider__items .slider__item {
  max-height: 800px;
  width: 100%;
  height: 100%;
  background: #99A8BF;
  border-radius: 18px 18px 36px 18px;
  display: flex;
  flex-direction: row;
  position: relative;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider-block .container .slider .slider__items .slider__item .photo {
  position: relative;
  padding: 15px;
  width: 100%;
}
.slider-block .container .slider .slider__items .slider__item .photo img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .content {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .content h1 {
  font-size: 3rem;
  color: #FFFFFF;
  line-height: 62.4px;
  max-width: 70%;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .content h2 {
  font-family: Hauora-300;
  font-weight: 300;
  font-size: 1.5rem;
  color: #fFFFFF;
  max-width: 65%;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .content p {
  font-weight: 500;
  font-size: 1.25rem;
  color: #FFFFFF;
  max-width: 45%;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons h1 {
  font-size: 3rem;
  color: #FFFFFF;
  line-height: 62.4px;
  max-width: 100%;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons .buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons .buttons .next {
  cursor: pointer;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons .buttons .next:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons .buttons .previous {
  cursor: pointer;
}
.slider-block .container .slider .slider__items .slider__item .slider__functional .price__buttons .buttons .previous:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.contacts {
  padding: 0 20px;
  margin-top: 20vh;
}
.contacts .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contacts .container .socials__side {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.contacts .container .socials__side h3 {
  text-transform: uppercase;
  color: #bbb8b8;
  font-size: 1rem;
  font-weight: 400;
}
.contacts .container .socials__side h1 {
  color: #000000;
  font-size: 3rem;
  line-height: 62.4px;
  max-width: 90%;
}
.contacts .container .socials__side p {
  font-size: 1.25rem;
  line-height: 31.2px;
  color: #000000;
}
.contacts .container .socials__side .socials {
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.contacts .container .socials__side .socials img:hover {
  transform: scale(1.06);
  transition: all 0.3s ease;
}
.contacts .container .form__side {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;
}
.contacts .container .form__side .field {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
  float: left;
}
.contacts .container .form__side .field input {
  outline: none;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding-left: 0;
  border-bottom-color: rgb(150, 143, 143);
  background: transparent;
  outline: none;
  color: #000000;
  font-size: 1.125rem;
}
.contacts .container .form__side .field textarea {
  max-width: 100%;
}
.contacts .container .form__side .field label {
  color: #000;
  font-size: 1.375rem;
  padding: 10px 0;
}
.contacts .container .form__side .btn {
  background-color: #2A1A80;
  margin: 40px 0;
  padding: 18px 32px;
  border-radius: 6px 6px 18px 6px;
  text-align: center;
  max-width: 340px;
  font-size: 20px;
  color: #FFFFFF;
}

.items {
  margin-top: 15vh;
}
.items .container {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.items .container .photo__side {
  max-width: 1000px;
  min-height: 995px;
  height: 100%;
  width: 100%;
}
.items .container .photo__side img {
  max-width: 100%;
  min-height: 995px;
}
.items .container .content__side {
  background: rgb(17, 14, 44);
  max-height: 995px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 80px;
}
.items .container .content__side h3 {
  padding-top: 40px;
  font-size: 1, 25rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 300;
}
.items .container .content__side h1 {
  font-size: 5.375rem;
  color: #FFFFFF;
}
.items .container .content__side p {
  font-size: 1.875rem;
  max-width: 70%;
  color: rgb(82, 79, 103);
  letter-spacing: -2%;
  font-family: Hauora-500;
}
.items .container .content__side ul {
  margin-left: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.items .container .content__side ul li {
  list-style-type: disc;
  font-size: 1, 25rem;
  color: #FFFFFF;
  font-weight: 300;
}
.items .container .content__side .price__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items .container .content__side .price__bottom .price {
  font-size: 3rem;
  font-family: Hauora-600;
  letter-spacing: -2%;
  color: #FFFFFF;
}
.items .container .content__side .price__bottom .navigation-arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 50px;
}

.car__motorcycle {
  margin-top: 5vh;
}
.car__motorcycle .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.car__motorcycle .container .car {
  background: url(../images/car.png);
  width: 850px;
  height: 630px;
  padding: 70px 90px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.car__motorcycle .container .car h1 {
  font-size: 5.375rem;
  line-height: 96px;
  letter-spacing: -3%;
  font-weight: 500;
  color: #FFFFFF;
}
.car__motorcycle .container .car p {
  font-size: 1.75rem;
  line-height: 41.6px;
  letter-spacing: -2%;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 70%;
}
.car__motorcycle .container .car .btn {
  margin-top: 30%;
  background-color: transparent;
  padding: 18px 32px;
  border-radius: 6px 6px 18px 6px;
  border: 2px solid white;
  font-size: 1rem;
  color: #FFFFFF;
  max-width: 302px;
  text-align: center;
}
.car__motorcycle .container .car .btn:hover {
  color: #000000;
  background: #FFFFFF;
  transition: all 0.5s ease;
}
.car__motorcycle .container .motorcycle {
  background: url(../images/motorcycle.png);
  width: 850px;
  height: 630px;
  padding: 70px 90px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.car__motorcycle .container .motorcycle h1 {
  font-size: 5.375rem;
  line-height: 96px;
  letter-spacing: -3%;
  font-weight: 500;
  color: #FFFFFF;
}
.car__motorcycle .container .motorcycle p {
  font-size: 1.75rem;
  line-height: 41.6px;
  letter-spacing: -2%;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 100%;
}
.car__motorcycle .container .motorcycle .btn {
  margin-top: 30%;
  background-color: transparent;
  padding: 18px 32px;
  border-radius: 6px 6px 18px 6px;
  border: 2px solid white;
  font-size: 1rem;
  color: #FFFFFF;
  max-width: 302px;
  text-align: center;
}
.car__motorcycle .container .motorcycle .btn:hover {
  color: #000000;
  background: #FFFFFF;
  transition: all 0.5s ease;
}

.about__ramki {
  margin-top: 15vh;
}
.about__ramki .container {
  padding: 0px 20px;
  max-width: 1760px;
  margin: 0 auto;
}
.about__ramki .container .header__text {
  font-size: 5rem;
  color: #000000;
  max-width: 80%;
}
.about__ramki .container .grid__mesh {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.about__ramki .container .grid__mesh .grid__container-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 55%;
  grid-column: 1/2;
  grid-row: 1/3;
}
.about__ramki .container .grid__mesh .grid__container-text p {
  font-size: 1.375rem;
}
.about__ramki .container .grid__mesh .grid__container-text p span {
  font-family: Hauora-600;
  font-size: 1.375rem;
}
.about__ramki .container .grid__mesh .grid__container-1 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about__ramki .container .grid__mesh .grid__container-1 .before {
  position: relative;
}
.about__ramki .container .grid__mesh .grid__container-1 .before::before {
  content: "";
  height: 3px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 90%;
}
.about__ramki .container .grid__mesh .grid__container-1 .text {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__ramki .container .grid__mesh .grid__container-1 .text h3 {
  font-weight: 400;
  font-size: 22px;
  max-width: 100%;
  align-items: center;
}
.about__ramki .container .grid__mesh .grid__container-1 .text p {
  color: #bbb8b8;
  font-size: 1.25rem;
  max-width: 100%;
}
.about__ramki .container .grid__mesh .grid__container-1 .text p::before {
  content: "-";
}
.about__ramki .container .grid__mesh .grid__container-2 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.about__ramki .container .grid__mesh .grid__container-2 .before {
  position: relative;
}
.about__ramki .container .grid__mesh .grid__container-2 .before::before {
  content: "";
  height: 3px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 90%;
}
.about__ramki .container .grid__mesh .grid__container-2 .text {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__ramki .container .grid__mesh .grid__container-2 .text h3 {
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 100%;
  align-items: center;
}
.about__ramki .container .grid__mesh .grid__container-2 .text p {
  color: #bbb8b8;
  font-size: 1.25rem;
  max-width: 70%;
}
.about__ramki .container .grid__mesh .grid__container-2 .text p::before {
  content: "-";
}
.about__ramki .container .grid__mesh .grid__container-3 {
  grid-row: 2/3;
  grid-column: 3/3;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.about__ramki .container .grid__mesh .grid__container-3 .before {
  position: relative;
}
.about__ramki .container .grid__mesh .grid__container-3 .before::before {
  content: "";
  height: 3px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.about__ramki .container .grid__mesh .grid__container-3 .text {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__ramki .container .grid__mesh .grid__container-3 .text h3 {
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 100%;
  align-items: center;
}
.about__ramki .container .grid__mesh .grid__container-3 .text p {
  color: #bbb8b8;
  font-size: 1.25rem;
  max-width: 80%;
}
.about__ramki .container .grid__mesh .grid__container-3 .text p::before {
  content: "-";
}
.about__ramki .container .grid__mesh .grid__container-4 {
  grid-column: 1/3;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.about__ramki .container .grid__mesh .grid__container-4 .before {
  position: relative;
}
.about__ramki .container .grid__mesh .grid__container-4 .before::before {
  content: "";
  height: 3px;
  background: #99A8BF;
  text-align: center;
  display: inline-block;
  width: 60%;
}
.about__ramki .container .grid__mesh .grid__container-4 .text {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__ramki .container .grid__mesh .grid__container-4 .text h3 {
  font-weight: 400;
  font-size: 2rem;
  max-width: 50%;
  align-items: center;
  color: #99A8BF;
}
.about__ramki .container .grid__mesh .grid__container-4 .text p {
  color: #99A8BF;
  font-size: 1.5rem;
  max-width: 50%;
}
.about__ramki .container .grid__mesh .grid__container-4 .text p::before {
  content: "-";
}
.about__ramki .container .grid__mesh .grid__container-5 {
  grid-column: 3/3;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.about__ramki .container .grid__mesh .grid__container-5 .before {
  position: relative;
}
.about__ramki .container .grid__mesh .grid__container-5 .before::before {
  content: "";
  height: 3px;
  background: #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.about__ramki .container .grid__mesh .grid__container-5 .text {
  padding: 20px 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__ramki .container .grid__mesh .grid__container-5 .text h3 {
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 100%;
  align-items: center;
}
.about__ramki .container .grid__mesh .grid__container-5 .text p {
  color: #bbb8b8;
  font-size: 1.25rem;
  max-width: 60%;
}
.about__ramki .container .grid__mesh .grid__container-5 .text p::before {
  content: "-";
}
.about__ramki .end {
  margin-top: 15vh;
}
.about__ramki .end img {
  width: 100vw;
}

.install__cars {
  margin-top: 15vh;
}
.install__cars .container .cars__container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.install__cars .container .cars__container .skoda {
  background: url(../images/skoda-rapid.png);
  max-height: 995px;
  min-width: 546px;
  gap: 31%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.install__cars .container .cars__container .skoda h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.install__cars .container .cars__container .skoda img {
  margin: 0 auto;
}
.install__cars .container .cars__container .skoda .ps {
  display: flex;
  flex-direction: row;
  gap: 80%;
  align-items: center;
  box-sizing: border-box;
  margin-top: 70px;
}
.install__cars .container .cars__container .skoda .ps h3 {
  color: #FFFFFF;
}
.install__cars .container .cars__container .tesla-1 {
  background: url(../images/tesla-model-3.png);
  min-width: 546px;
  max-height: 995px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 31%;
}
.install__cars .container .cars__container .tesla-1 h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.install__cars .container .cars__container .tesla-1 img {
  margin: 0 auto;
}
.install__cars .container .cars__container .tesla-1 .ps {
  display: flex;
  flex-direction: row;
  gap: 80%;
  align-items: center;
  box-sizing: border-box;
  margin-top: 70px;
}
.install__cars .container .cars__container .tesla-1 .ps h3 {
  color: #FFFFFF;
}
.install__cars .container .cars__container .tesla-2 {
  background: url(../images/tesla-model-3-2.png);
  min-width: 546px;
  max-height: 995px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 31%;
}
.install__cars .container .cars__container .tesla-2 h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.install__cars .container .cars__container .tesla-2 img {
  margin: 0 auto;
}
.install__cars .container .cars__container .tesla-2 .ps {
  display: flex;
  flex-direction: row;
  gap: 80%;
  align-items: center;
  box-sizing: border-box;
  margin-top: 70px;
}
.install__cars .container .cars__container .tesla-2 .ps h3 {
  color: #FFFFFF;
}
.install__cars .container .cars__container .skoda-2 {
  background: url(../images/skoda-rapid.png);
  min-width: 546px;
  max-height: 995px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 31%;
}
.install__cars .container .cars__container .skoda-2 h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.install__cars .container .cars__container .skoda-2 img {
  margin: 0 auto;
}
.install__cars .container .cars__container .skoda-2 .ps {
  display: flex;
  flex-direction: row;
  gap: 80%;
  align-items: center;
  box-sizing: border-box;
  margin-top: 70px;
}
.install__cars .container .cars__container .skoda-2 .ps h3 {
  color: #FFFFFF;
}
.install__cars .container .cars__container .skoda-3 {
  background: url(../images/skoda-rapid.png);
  min-width: 546px;
  max-height: 995px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 30vh;
}
.install__cars .container .cars__container .skoda-3 h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.install__cars .container .cars__container .skoda-3 img {
  margin: 0 auto;
}
.install__cars .container .cars__container .skoda-3 .ps {
  display: flex;
  flex-direction: row;
  gap: 80%;
  align-items: center;
  box-sizing: border-box;
  margin-top: 70px;
}
.install__cars .container .cars__container .skoda-3 .ps h3 {
  color: #FFFFFF;
}
.install__cars .container .cars__container .skoda-4 {
  background: url(../images/skoda-rapid.png);
  min-width: 546px;
  max-height: 995px;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}
.install__cars .container .cars__container .skoda-4 h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.install__cars .container .cars__container .skoda-4 img {
  margin: 0 auto;
}
.install__cars .container .cars__container .skoda-4 .ps {
  display: flex;
  flex-direction: row;
  gap: 80%;
  align-items: center;
  box-sizing: border-box;
}
.install__cars .container .cars__container .skoda-4 .ps h3 {
  color: #FFFFFF;
}

.answer-question {
  margin-top: 20vh;
  padding: 0 20px;
}
.answer-question .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.answer-question .container .left__side {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.answer-question .container .left__side h3 {
  color: #bbb8b8;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.answer-question .container .left__side h1 {
  font-size: 3rem;
  max-width: 100%;
  color: #000000;
}
.answer-question .container .left__side img {
  margin-top: 30vh;
  width: 71px;
  height: 40px;
}
.answer-question .container .right__side {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.answer-question .container .right__side .accordion-wrapper .accordion {
  cursor: pointer;
  font-size: 1.875rem;
  line-height: 41.6px;
  letter-spacing: -2%;
  color: #bbb8b8;
  padding: 30px;
  background: inherit;
  border: none;
  text-align: left;
}
.answer-question .container .right__side .accordion-wrapper .accordion::after {
  content: "";
  height: 3px;
  background: #000;
  text-align: center;
  display: inline-block;
  width: 800px;
}
.answer-question .container .right__side .accordion-wrapper .accordion .active, .answer-question .container .right__side .accordion-wrapper .accordion .accordion:hover {
  color: #000000;
}
.answer-question .container .right__side .accordion-wrapper .accordion .active::after, .answer-question .container .right__side .accordion-wrapper .accordion .accordion:hover::after {
  content: "";
  height: 3px;
  background: #99A8BF;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.answer-question .container .right__side .accordion-wrapper .accordion .active::after:active, .answer-question .container .right__side .accordion-wrapper .accordion .accordion:hover::after:active {
  color: #000;
}
.answer-question .container .right__side .panel {
  font-size: 1.375rem;
  margin-left: 12px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.answer-question .container .right__side .panel .active:hover {
  color: #000000;
}

.delivery {
  background: rgb(17, 14, 44);
  margin-top: 10vh;
}
.delivery .container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.delivery .container .left__side {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.delivery .container .left__side .text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 50px 0 100px;
}
.delivery .container .left__side .text h1 {
  font-family: Hauora-300;
  color: #FFFFFF;
  font-size: 5.625rem;
  max-width: 100%;
  line-height: 86px;
  letter-spacing: -3%;
  font-weight: 600;
}
.delivery .container .left__side .text H3 {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 41.6px;
  letter-spacing: -2%;
  color: #99A8BF;
}
.delivery .container .right__side {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.delivery .container .right__side .before {
  position: relative;
}
.delivery .container .right__side .before::before {
  content: "";
  height: 90%;
  background: #FFFFFF;
  text-align: center;
  display: inline-block;
  width: 2px;
  position: absolute;
}
.delivery .container .right__side .flex__box {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 80%;
}
.delivery .container .right__side .flex__box .flex__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.delivery .container .right__side .flex__box .flex__item h2 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 41.6px;
  letter-spacing: -2%;
  color: #FFFFFF;
}
.delivery .container .right__side .flex__box .flex__item p {
  max-width: 70%;
  font-family: Hauora-300;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 31.2px;
  color: #FFFFFF;
}

.footer {
  padding: 150px 20px;
  background: #000000;
}
.footer .container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.footer .container .socials__side {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.footer .container .socials__side h1 {
  color: #FFFFFF;
  font-size: 3rem;
  line-height: 62.4px;
  max-width: 90%;
}
.footer .container .socials__side .cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .container .socials__side .cont .phone {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.footer .container .socials__side .cont .phone a {
  color: #FFFFFF;
}
.footer .container .socials__side .cont .phone a:hover {
  transition: all 0.3s ease;
  color: #2A1A80;
}
.footer .container .socials__side .cont .mail {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer .container .socials__side .cont .mail a {
  color: #FFFFFF;
}
.footer .container .socials__side .cont .mail a:hover {
  transition: all 0.3s ease;
  color: #2A1A80;
}
.footer .container .socials__side p {
  font-size: 1.25rem;
  line-height: 31.2px;
  color: #000000;
}
.footer .container .socials__side .gkrf {
  margin-top: 30vh;
}
.footer .container .socials__side .gkrf p {
  max-width: 40%;
  font-size: 1rem;
  color: #6f6b6b;
}
.footer .right__side {
  display: flex;
  flex-direction: column;
}
.footer .right__side .form__side-footer {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;
}
.footer .right__side .form__side-footer .field {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
  float: left;
}
.footer .right__side .form__side-footer .field input {
  outline: none;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding-left: 0;
  border-bottom-color: rgb(150, 143, 143);
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 1.125rem;
}
.footer .right__side .form__side-footer .field textarea {
  max-width: 100%;
  color: #fff;
}
.footer .right__side .form__side-footer .field label {
  color: rgb(150, 143, 143);
  font-size: 1.375rem;
  padding: 10px 0;
}
.footer .right__side .form__side-footer .btn {
  background-color: #2A1A80;
  margin: 40px 0;
  padding: 18px 32px;
  border-radius: 6px 6px 18px 6px;
  text-align: center;
  max-width: 340px;
  font-size: 1.25rem;
  color: #FFFFFF;
}
.footer .right__side .form__side-footer .btn:hover {
  transition: all 0.5s ease;
  color: #000000;
  background: #FFFFFF;
}
.footer .right__side .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 220px;
  margin-top: 150px;
}
.footer .right__side .contacts .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.footer .right__side .contacts .social img {
  width: 60px;
  height: 60px;
}
.footer .right__side .contacts .social img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.footer .right__side .contacts .mini__logo {
  width: 71px;
  height: 40px;
}

@media screen and (max-width: 1400px) {
  * {
    font-size: 14px;
  }
  .wrapper main .header .container {
    max-width: 100vw;
    gap: 5vw;
  }
  .wrapper main .header .container .header__nav ul {
    gap: 20px;
  }
  .wrapper main .hero .container {
    max-width: 100vw;
  }
  .wrapper main .hero .container .hero__text h1 {
    max-width: 100%;
    font-size: 120px;
  }
  .wrapper main .hero .container .hero__bottom {
    margin-top: 0;
  }
  .wrapper main .hero .container .hero__bottom .text {
    margin-left: 20vw;
  }
  .wrapper .slider-block .container {
    max-width: 100vw;
  }
  .wrapper .slider-block .container .slider__items .slider__item .slider__functional .content {
    gap: 0;
  }
  .wrapper .delivery .container .right__side .flex__box {
    max-width: 90%;
    gap: 50px;
  }
}
@media screen and (max-width: 1200px) {
  * {
    font-size: 10px;
  }
  .wrapper main .header {
    height: 80px;
  }
  .wrapper main .hero .container .hero__text h1 {
    max-width: 75%;
    font-size: 75px;
    font-weight: 300;
  }
  .wrapper main .hero .container .hero__bottom {
    align-items: end;
  }
  .wrapper main .hero .container .hero__bottom .text p {
    font-size: 18px;
    max-width: 100%;
  }
  .wrapper main .section__about-us .container {
    max-width: 100vw;
  }
  .wrapper main .section__about-us .container .right__menu {
    margin-top: 30%;
  }
  .wrapper main .advantages .advantages__right-side .bottom-side {
    max-height: 100%;
    gap: 15%;
  }
  .wrapper main .slider-block .container .slider__items .slider__item .slider__functional .content {
    gap: 5vh;
  }
  .wrapper main .delivery .container .left__side {
    width: 60%;
  }
  .wrapper main .delivery .container .right__side {
    min-width: 50%;
  }
  .wrapper main .delivery .container .right__side .flex__box {
    max-width: 70%;
    gap: 80px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 100vw;
  }
  .wrapper main {
    background: #ffffff;
  }
  .wrapper main .top__header .discount p {
    font-size: 8px;
  }
  .wrapper main .top__header a.btn {
    font-size: 12px;
  }
  .wrapper main .header .container {
    max-width: 414px;
    margin: 0 auto;
  }
  .wrapper main .header .container .header__logo {
    text-align: center;
  }
  .wrapper main .header .container .header__nav {
    display: none;
  }
  .wrapper main .header .container .header__btns .btn {
    display: none;
  }
  .wrapper main .hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .wrapper main .hero .container .hero__text h1 {
    color: #000;
    font-size: 60px;
    text-transform: uppercase;
  }
  .wrapper main .hero .container .hero__bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .wrapper main .hero .container .hero__bottom .buttons {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .wrapper main .hero .container .hero__bottom .buttons a.order {
    background: #000;
    color: #FFFFFF;
  }
  .wrapper main .hero .container .hero__bottom .buttons a.consultation {
    background-color: #000;
    color: #FFFFFF;
  }
  .wrapper main .hero .container .hero__bottom .text {
    display: flex;
    justify-content: center;
  }
  .wrapper main .hero .container .hero__bottom .text p {
    color: #000;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */